In [1]:
from plugins.utils import movie_dataset_etl

c:\Users\iqbal\AppData\Local\Programs\Python\Python310\lib\site-packages\snowflake\connector\options.py:108: UserWarning: You have an incompatible version of 'pyarrow' installed (19.0.1), please install a version that adheres to: 'pyarrow<19.0.0; extra == "pandas"'
  warn_incompatible_dep(

In [2]:
my_movie = movie_dataset_etl()

In [ ]:
extract = my_movie.extract("./plugins/assets/data/the-movies-dataset")

Folder './plugins/assets/data/the-movies-dataset' has been filled.

c:\Users\iqbal\Downloads\Data\Data Engineer\Portfolio\plugins\utils\movie_dataset_etl.py:32: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  self.movies_metadata = pd.read_csv(f"{file_dictionary}/movies_metadata.csv")

(                                                    cast  \
 0      [{'cast_id': 14, 'character': 'Woody (voice)',...
 1      [{'cast_id': 1, 'character': 'Alan Parrish', '...
 2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...
 3      [{'cast_id': 1, 'character': "Savannah 'Vannah...
 4      [{'cast_id': 1, 'character': 'George Banks', '...
 ...                                                  ...
 45471  [{'cast_id': 0, 'character': '', 'credit_id': ...
 45472  [{'cast_id': 1002, 'character': 'Sister Angela...
 45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...
 45474  [{'cast_id': 2, 'character': '', 'credit_id': ...
 45475                                                 []

                                                     crew      id
 0      [{'credit_id': '52fe4284c3a36847f8024f49', 'de...     862
 1      [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...    8844
 2      [{'credit_id': '52fe466a9251416c75077a89', 'de...   15602
 3      [{'credit_id': '52fe44779251416c91011acb', 'de...   31357
 4      [{'credit_id': '52fe44959251416c75039ed7', 'de...   11862
 ...                                                  ...     ...
 45471  [{'credit_id': '5894a97d925141426c00818c', 'de...  439050
 45472  [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...  111109
 45473  [{'credit_id': '52fe4776c3a368484e0c8387', 'de...   67758
 45474  [{'credit_id': '533bccebc3a36844cf0011a7', 'de...  227506
 45475  [{'credit_id': '593e676c92514105b702e68e', 'de...  461257

 [45476 rows x 3 columns],
            id                                           keywords
 0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
 1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
 2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
 3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
 4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
 ...       ...                                                ...
 46414  439050             [{'id': 10703, 'name': 'tragic love'}]
 46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
 46416   67758                                                 []
 46417  227506                                                 []
 46418  461257                                                 []

 [46419 rows x 2 columns],
        movieId   imdbId    tmdbId
 0            1   114709     862.0
 1            2   113497    8844.0
 2            3   113228   15602.0
 3            4   114885   31357.0
 4            5   113041   11862.0
 ...        ...      ...       ...
 45838   176269  6209470  439050.0
 45839   176271  2028550  111109.0
 45840   176273   303758   67758.0
 45841   176275     8536  227506.0
 45842   176279  6980792  461257.0

 [45843 rows x 3 columns],
        adult                              belongs_to_collection    budget  \
 0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
 1      False                                                NaN  65000000
 2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
 3      False                                                NaN  16000000
 4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
 ...      ...                                                ...       ...
 45461  False                                                NaN         0
 45462  False                                                NaN         0
 45463  False                                                NaN         0
 45464  False                                                NaN         0
 45465  False                                                NaN         0

                                                   genres  \
 0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
 1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
 2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
 3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
 4                         [{'id': 35, 'name': 'Comedy'}]
 ...                                                  ...
 45461  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
 45462                      [{'id': 18, 'name': 'Drama'}]
 45463  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
 45464                                                 []
 45465                                                 []

                                    homepage      id    imdb_id  \
 0      http://toystory.disney.com/toy-story     862  tt0114709
 1                                       NaN    8844  tt0113497
 2                                       NaN   15602  tt0113228
 3                                       NaN   31357  tt0114885
 4                                       NaN   11862  tt0113041
 ...                                     ...     ...        ...
 45461  http://www.imdb.com/title/tt6209470/  439050  tt6209470
 45462                                   NaN  111109  tt2028550
 45463                                   NaN   67758  tt0303758
 45464                                   NaN  227506  tt0008536
 45465                                   NaN  461257  tt6980792

       original_language               original_title  \
 0                    en                    Toy Story
 1                    en                      Jumanji
 2                    en             Grumpier Old Men
 3                    en            Waiting to Exhale
 4                    en  Father of the Bride Part II
 ...                 ...                          ...
 45461                fa                      رگ خواب
 45462                tl          Siglo ng Pagluluwal
 45463                en                     Betrayal
 45464                en          Satana likuyushchiy
 45465                en                     Queerama

                                                 overview  ... release_date  \
 0      Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
 1      When siblings Judy and Peter discover an encha...  ...   1995-12-15
 2      A family wedding reignites the ancient feud be...  ...   1995-12-22
 3      Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
 4      Just when George Banks has recovered from his ...  ...   1995-02-10
 ...                                                  ...  ...          ...
 45461        Rising and falling between a man and woman.  ...          NaN
 45462  An artist struggles to finish his work while a...  ...   2011-11-17
 45463  When one of her hits goes wrong, a professiona...  ...   2003-08-01
 45464  In a small town live two brothers, one a minis...  ...   1917-10-21
 45465  50 years after decriminalisation of homosexual...  ...   2017-06-09

            revenue runtime                                   spoken_languages  \
 0      373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
 1      262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
 2              0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
 3       81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
 4       76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
 ...            ...     ...                                                ...
 45461          0.0    90.0             [{'iso_639_1': 'fa', 'name': 'فارسی'}]
 45462          0.0   360.0                  [{'iso_639_1': 'tl', 'name': ''}]
 45463          0.0    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
 45464          0.0    87.0                                                 []
 45465          0.0    75.0           [{'iso_639_1': 'en', 'name': 'English'}]

          status                                            tagline  \
 0      Released                                                NaN
 1      Released          Roll the dice and unleash the excitement!
 2      Released  Still Yelling. Still Fighting. Still Ready for...
 3      Released  Friends are the people who let you be yourself...
 4      Released  Just When His World Is Back To Normal... He's ...
 ...         ...                                                ...
 45461  Released         Rising and falling between a man and woman
 45462  Released                                                NaN
 45463  Released                             A deadly game of wits.
 45464  Released                                                NaN
 45465  Released                                                NaN

                              title  video vote_average vote_count
 0                        Toy Story  False          7.7     5415.0
 1                          Jumanji  False          6.9     2413.0
 2                 Grumpier Old Men  False          6.5       92.0
 3                Waiting to Exhale  False          6.1       34.0
 4      Father of the Bride Part II  False          5.7      173.0
 ...                            ...    ...          ...        ...
 45461                       Subdue  False          4.0        1.0
 45462          Century of Birthing  False          9.0        3.0
 45463                     Betrayal  False          3.8        6.0
 45464             Satan Triumphant  False          0.0        0.0
 45465                     Queerama  False          0.0        0.0

 [45466 rows x 24 columns],
           userId  movieId  rating   timestamp
 0              1      110     1.0  1425941529
 1              1      147     4.5  1425942435
 2              1      858     5.0  1425941523
 3              1     1221     5.0  1425941546
 4              1     1246     5.0  1425941556
 ...          ...      ...     ...         ...
 26024284  270896    58559     5.0  1257031564
 26024285  270896    60069     5.0  1257032032
 26024286  270896    63082     4.5  1257031764
 26024287  270896    64957     4.5  1257033990
 26024288  270896    71878     2.0  1257031858

 [26024289 rows x 4 columns])

In [4]:
result = my_movie.transform()

In [5]:
my_movie.load(result)

Data successfully written to s3://project-etl-iqbal/etl/cast.parquet
Data successfully written to s3://project-etl-iqbal/etl/crew.parquet
Data successfully written to s3://project-etl-iqbal/etl/keywords.parquet
Data successfully written to s3://project-etl-iqbal/etl/links.parquet
Data successfully written to s3://project-etl-iqbal/etl/movies_metadata.parquet
Data successfully written to s3://project-etl-iqbal/etl/belongs_to_collection.parquet
Data successfully written to s3://project-etl-iqbal/etl/genres.parquet
Data successfully written to s3://project-etl-iqbal/etl/production_companies.parquet
Data successfully written to s3://project-etl-iqbal/etl/production_countries.parquet
Data successfully written to s3://project-etl-iqbal/etl/spoken_languages.parquet
Data successfully written to s3://project-etl-iqbal/etl/ratings.parquet
All of the data loaded successfully

True