In [1]:
from lib.utils.movie_dataset_etl import MovieDatasetEtl

In [2]:
my_movie = MovieDatasetEtl("MOVIES", "MOVIE_BASE")

In [ ]:
extracted = my_movie.extract("./lib/assets/data/the-movies-dataset")

Dataset URL: https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset
Dataset 'rounakbanik/the-movies-dataset' downloaded successfully to './plugins/assets/data/the-movies-dataset'.

c:\Users\iqbal\Downloads\Data\Data Engineer\Portfolio\plugins\utils\movie_dataset_etl.py:35: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata = pd.read_csv(f"{file_dictionary}/movies_metadata.csv")

In [4]:
result = my_movie.transform(extracted)

In [5]:
my_movie.load(result, "@S3_STAGE/etl/")

Data successfully written to s3://project-etl-iqbal/etl/cast.parquet
Data successfully written to s3://project-etl-iqbal/etl/crew.parquet
Data successfully written to s3://project-etl-iqbal/etl/keywords.parquet
Data successfully written to s3://project-etl-iqbal/etl/links.parquet
Data successfully written to s3://project-etl-iqbal/etl/movies_metadata.parquet
Data successfully written to s3://project-etl-iqbal/etl/belongs_to_collection.parquet
Data successfully written to s3://project-etl-iqbal/etl/genres.parquet
Data successfully written to s3://project-etl-iqbal/etl/production_companies.parquet
Data successfully written to s3://project-etl-iqbal/etl/production_countries.parquet
Data successfully written to s3://project-etl-iqbal/etl/spoken_languages.parquet
Data successfully written to s3://project-etl-iqbal/etl/ratings.parquet
Table MOVIES.MOVIE_BASE.cast created sucessfully
Executing truncate query: TRUNCATE TABLE MOVIES.MOVIE_BASE.cast
Executing copy query:
            COPY INTO MOVIES.MOVIE_BASE.cast
            FROM @S3_STAGE/etl/cast.parquet
            FILE_FORMAT = (TYPE = PARQUET)
            MATCH_BY_COLUMN_NAME = 'CASE_INSENSITIVE'

Successfully loaded data into cast
Table MOVIES.MOVIE_BASE.crew created sucessfully
Executing truncate query: TRUNCATE TABLE MOVIES.MOVIE_BASE.crew
Executing copy query:
            COPY INTO MOVIES.MOVIE_BASE.crew
            FROM @S3_STAGE/etl/crew.parquet
            FILE_FORMAT = (TYPE = PARQUET)
            MATCH_BY_COLUMN_NAME = 'CASE_INSENSITIVE'

Successfully loaded data into crew
Table MOVIES.MOVIE_BASE.keywords created sucessfully
Executing truncate query: TRUNCATE TABLE MOVIES.MOVIE_BASE.keywords
Executing copy query:
            COPY INTO MOVIES.MOVIE_BASE.keywords
            FROM @S3_STAGE/etl/keywords.parquet
            FILE_FORMAT = (TYPE = PARQUET)
            MATCH_BY_COLUMN_NAME = 'CASE_INSENSITIVE'

Successfully loaded data into keywords
Table MOVIES.MOVIE_BASE.links created sucessfully
Executing truncate query: TRUNCATE TABLE MOVIES.MOVIE_BASE.links
Executing copy query:
            COPY INTO MOVIES.MOVIE_BASE.links
            FROM @S3_STAGE/etl/links.parquet
            FILE_FORMAT = (TYPE = PARQUET)
            MATCH_BY_COLUMN_NAME = 'CASE_INSENSITIVE'

Successfully loaded data into links
Table MOVIES.MOVIE_BASE.movies_metadata created sucessfully
Executing truncate query: TRUNCATE TABLE MOVIES.MOVIE_BASE.movies_metadata
Executing copy query:
            COPY INTO MOVIES.MOVIE_BASE.movies_metadata
            FROM @S3_STAGE/etl/movies_metadata.parquet
            FILE_FORMAT = (TYPE = PARQUET)
            MATCH_BY_COLUMN_NAME = 'CASE_INSENSITIVE'

Successfully loaded data into movies_metadata
Table MOVIES.MOVIE_BASE.belongs_to_collection created sucessfully
Executing truncate query: TRUNCATE TABLE MOVIES.MOVIE_BASE.belongs_to_collection
Executing copy query:
            COPY INTO MOVIES.MOVIE_BASE.belongs_to_collection
            FROM @S3_STAGE/etl/belongs_to_collection.parquet
            FILE_FORMAT = (TYPE = PARQUET)
            MATCH_BY_COLUMN_NAME = 'CASE_INSENSITIVE'

Successfully loaded data into belongs_to_collection
Table MOVIES.MOVIE_BASE.genres created sucessfully
Executing truncate query: TRUNCATE TABLE MOVIES.MOVIE_BASE.genres
Executing copy query:
            COPY INTO MOVIES.MOVIE_BASE.genres
            FROM @S3_STAGE/etl/genres.parquet
            FILE_FORMAT = (TYPE = PARQUET)
            MATCH_BY_COLUMN_NAME = 'CASE_INSENSITIVE'

Successfully loaded data into genres
Table MOVIES.MOVIE_BASE.production_companies created sucessfully
Executing truncate query: TRUNCATE TABLE MOVIES.MOVIE_BASE.production_companies
Executing copy query:
            COPY INTO MOVIES.MOVIE_BASE.production_companies
            FROM @S3_STAGE/etl/production_companies.parquet
            FILE_FORMAT = (TYPE = PARQUET)
            MATCH_BY_COLUMN_NAME = 'CASE_INSENSITIVE'

Successfully loaded data into production_companies
Table MOVIES.MOVIE_BASE.production_countries created sucessfully
Executing truncate query: TRUNCATE TABLE MOVIES.MOVIE_BASE.production_countries
Executing copy query:
            COPY INTO MOVIES.MOVIE_BASE.production_countries
            FROM @S3_STAGE/etl/production_countries.parquet
            FILE_FORMAT = (TYPE = PARQUET)
            MATCH_BY_COLUMN_NAME = 'CASE_INSENSITIVE'

Successfully loaded data into production_countries
Table MOVIES.MOVIE_BASE.spoken_languages created sucessfully
Executing truncate query: TRUNCATE TABLE MOVIES.MOVIE_BASE.spoken_languages
Executing copy query:
            COPY INTO MOVIES.MOVIE_BASE.spoken_languages
            FROM @S3_STAGE/etl/spoken_languages.parquet
            FILE_FORMAT = (TYPE = PARQUET)
            MATCH_BY_COLUMN_NAME = 'CASE_INSENSITIVE'

Successfully loaded data into spoken_languages
Table MOVIES.MOVIE_BASE.ratings created sucessfully
Executing truncate query: TRUNCATE TABLE MOVIES.MOVIE_BASE.ratings
Executing copy query:
            COPY INTO MOVIES.MOVIE_BASE.ratings
            FROM @S3_STAGE/etl/ratings.parquet
            FILE_FORMAT = (TYPE = PARQUET)
            MATCH_BY_COLUMN_NAME = 'CASE_INSENSITIVE'

Successfully loaded data into ratings
All of the data loaded successfully

True

In [15]:
my_movie.transform_to_mart()
my_movie.snow_handler.close()

Datamart Transform Sucessfully